.link-style:hover{
    background-color: #90EE90;
}

.link-style{
    text-decoration: none;
    color: #008000;
}

.link-card:hover{
    transform: scale(1.02);
}

@media only screen and (max-width: 576px){
    .games-col-list{
        width: 300px !important;
        text-align: center;
    }

    .games-img-card-list{
        object-fit: cover;
        height: 150px !important;
    }

    .games-card-description-list{
        display: none;
    }

    .games-card-body-list{
        margin: 0;
        padding: 0;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px){
    .games-col-list{
        width: 270px !important;
        text-align: center;
    }

    .games-img-card-list{
        object-fit: cover;
        height: 150px !important;
    }

    .games-card-description-list{
        display: none;
    }

    .games-card-body-list{
        margin: 0;
        padding: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
    .games-col-list{
        width: 240px !important;
        text-align: center;
    }

    .games-img-card-list{
        object-fit: cover;
        height: 150px !important;
    }
}

@media only screen and (min-width: 1200px){
    .games-col-list{
        width: 264px !important;
        text-align: center;
    }

    .games-img-card-list{
        object-fit: cover;
        height: 190px !important;
    }
}
