.link-style:hover{
    background-color: #90EE90;
}

.link-style{
    text-decoration: none;
    color: #008000;
}

@media only screen and (max-width: 564px){
    .historylist{
        display: none;
    }

    .main-container{
        width: 300px;
    }
}
