.nav-text:hover{
    background-color: red;
}

.dropdown-menu{
  margin-top: 0 !important;
}

 /* if not touch screen */
  @media not (hover: none){
    #collapsible-nav-dropdown {
      pointer-events: none;
    }
  }

@media only screen and (max-width: 436px){
     .register-button{
        display: none;
     }
}
