.nav-text:hover{
    background-color: red;
}

.login-button{
    margin-left: 45vw;
    margin-right: 6px;
}

 /* if not touch screen */
  @media not (hover: none){
    #collapsible-nav-dropdown {
      pointer-events: none;
    }
  }
